* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  overflow-x: hidden;
}

header {
  background-color: rgb(206, 206, 206);
  padding-top: 10px;
  width: 100vw;
}

header h1 {
  text-align: center;
}

nav {
  display: flex;
}

header a {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  margin-right: 0;
  margin-left: 25px;
  background-color: white;
  color: black;
}

header a:hover {
  background-color: rgb(163, 163, 163);
}

article {
  padding: 30px;
  padding-right: 0;
}

#om-mig {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#om-mig article {
  display: block;
  width: 65vw;
  justify-content: flex-start;
}

#bild-pa-mig {
  width: 250px;
  margin: 30px;

  justify-content: flex-end;
}

#gaming {
  width: 90vw;
}

footer {
  background-color: rgb(206, 206, 206);
  width: 100vw;
}

#tiktok {
  width: 100px;
}

#twitter {
  width: 65px;
}

footer nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#footerKontakt {
  display: flex;
}
